*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

:root{
    --dark-grey: #272727;
    --grey-color: #555;
    --light-grey: #747474;
    --orange: #ff6528;
}

html{
    font-size: 62.5%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(white);
    margin: 4rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;
    border: 2px solid black;
}

.header{
    width: 100%;
    height: calc(100vh - 8rem);
    overflow: hidden;
    position: relative;
}

.header-container{
    position: absolute;
    width: 100%;
    height: calc(100vh - 8rem);
}

.header-text{
    font-size: 14rem;
    text-transform: uppercase;
    letter-spacing: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
}

/* live */
.live-container{
    /* display:none; */
    transform: translateX(-100%);
}

.live-container.change{
    transform: translateX(0%);
    transition: all 0.5s ease 0.5s;
}

.live-bg{
    background-color: var(--dark-grey);
    width: 100%;
    height: calc(100vh - 8rem);
}
/* end of live */

/* life */
.life-container{
    transform: translateY(-100%);
}

.life-container.change{
    transform: translateY(0%);
    transition: all 0.5s ease 1.5s;
}

.life-bg{
    background-color: var(--orange);
    width: 100%;
    height: calc(100vh - 8rem);
}

/* end of life */

/* of */
.of-container{
    transform: translateY(100%);
}

.of-container.change{
    transform: translateY(0%);
    transition: all 0.5s ease 2.4s;
}

.of-bg{
    background-color: var(--light-grey);
    width: 100%;
    height: calc(100vh - 8rem);
}

/* end of "of */

/* good folk */
.goodfolk-container{
    background: white url('Images/goodfolk-orange.jpg') center no-repeat;
    background-size: contain;
    width: calc(100vw - 8rem);
    height: calc(100vh - 8rem);
    transform: translateX(100%);
    position:relative;
}

.goodfolk-container.change{
    transform: translateX(0%);
    transition: all 0.5s ease 3.6s;
}

/* end of good folk */

/* start of info */
.info{
    background: white;
    position: relative;
}

.info-logo-wrap{
    margin-top: 4rem;
    display:inline-block;
    width: 100%;
    text-align: center;

}

.info-logo{
    /* display:inline-block; */
    width:20%;
    border-top: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;


}

.info-heading{
    padding: 3rem 0;
    display:block;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-shadow: 0 1rem 1rem var(--dark-grey);
}

.info-text{
    padding: 1rem 12rem;
    font-size:1.8rem;
    padding-bottom:4rem;
}

/* start of collections */
.collections{
    padding: 10rem 12rem;
    background-color: var(--light-grey);
}

.collections-heading{
    font-size: 4rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0.3rem 0.3rem 1rem var(--orange);
    letter-spacing: 0.5rem;
    padding-bottom: 3.5rem;
}

.collections-wrapper{
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.card{
    width: 35rem;
    position: relative;
    perspective: 150rem;
}

.front-card{
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    z-index:1;
    box-shadow: .3rem .3rem .7rem white;
    transform: translateZ(0) translateX(0);
    transition: all .5s ease-in-out;
}
.change  .front-card{
    z-index:0;
    transform: translateZ(-5rem) translateX(3rem);
    transition: all .5s ease-in-out;
}

.price-btn, .back-btn{
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 3rem;
    width: 6rem;
    text-align:center;
    text-transform: uppercase;
    border:none;
    outline:none;
    cursor: pointer;
    letter-spacing: .2rem;
    font-weight:700;
}

.price-btn:hover{
    background-color: var(--orange);
    box-shadow: .5rem .5rem 1rem var(--orange);
}
.back-btn:hover{
    background-color: var(--dark-grey);
    box-shadow: .5rem .5rem 1rem var(--dark-grey);
    color: white;
}

.price-btn.black:hover{
    background-color: var(--orange);
    box-shadow: .1rem .1rem 1rem var(--orange);    
}

.front-image, .back-image{
    height: 40rem;
    width: 35rem;
}

.front-image{
    cursor: pointer;
}
.front-image.first{
    background: url('Images/cloth-1.jpg') center no-repeat;
    background-size: cover;
}

.front-image.second{
    background: url('Images/cloth-2.jpg') center no-repeat;
    background-size: cover;
}

.front-image.third{
    background: url('Images/cloth-3.jpg') center no-repeat;
    background-size: cover;
}

.card-title{
    color:var(--dark-grey);
    text-align: center;
    font-weight: 900;
    font-size:3.2rem;
    text-shadow: 0rem 0.3rem 1rem var(--dark-grey);
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: .15rem solid var(--dark-grey);
    border-top: .15rem solid var(--dark-grey);
}

.size-list{
    flex-direction: column;
    list-style-type: none;
}

.size{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem;
    border-bottom: 1px solid var(--dark-grey);
}

.back-card{
    background: var(--orange);
    border-radius: 2rem;
    overflow: hidden;
    position: absolute;
    transform: translateZ(-5rem) translateX(3rem);
    transition: all .5s ease-in-out;
    box-shadow: .3rem .3rem .7rem var(--orange);
    top:0;
    height: 100%;
    z-index:0;
}

.change .back-card{
    z-index:1;
    transform: translateZ(0) translateX(0);
    transition: all .5s ease-in-out;
}


.back-image.first{
    background: url('Images/back-shirt.png') no-repeat;
    background-size: contain;
}
.back-image.second{
    background: url('Images/back-shirt.png') no-repeat;
    background-size: contain;
}
.back-image.third{
    background: url('Images/cloth-3-back.jpg') no-repeat;
    background-size: contain;
}

.price{
    text-align: center;
    letter-spacing: .18rem;
    color: white;
    text-shadow: .2rem .3rem .3rem black;
    font-size: 3rem;
    position: absolute;
    left:0;
    right:0;
    top: 35.5rem;
}

.popup-shirt{
    background-color: var(--dark-grey);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    transform: scale(0);
}

.popup-shirt.active {
    background-color: var(--dark-grey);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    transform: scale(1);
    z-index: 4;
    
}

.exit-preview{
    position: fixed;
    right: 2rem;
    top:2rem;
    height: 3rem;
    width:3rem;
    font-size: 5rem;
    color: white;
    background-color:var(--dark-grey);
    border:none;
    cursor: pointer;
    font-weight:900;
}

.shirt-image{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80vh;
    width: 50vw;
    transform: translate(-50%, -50%) scale(0);
}

.shirt-image.active {
    transform: translate(-50%, -50%) scale(1);
    transition: all 1s ease-in-out;
}

.shirt-image.first{
    background-image: url('Images/cloth-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.shirt-image.second{
    background-image: url('Images/cloth-2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.shirt-image.third{
    background-image: url('Images/cloth-3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}


/* start of contact us */
.contact-us{
    /* background-color: var(--orange); */
    height: 65rem;
    background-image: url('Images/contact-us.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:     center;
    flex-direction: column;
    animation: contact-bg 25s infinite;

}

.contact-heading{
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.4rem white;
    margin-bottom: 1rem;

}

.contact-form{
    background-color: rgba(255,255,255,0.8);
    margin: 0 12rem;
    width: 70rem;
    height: 50rem;
    flex-direction: column;
    padding: 0 5rem;
    border-radius: 1rem;
}

.input-group{
    margin: 1rem 3rem;
    position: relative;
    padding: 0 4rem;
    padding-top: 2rem;
    flex-direction: column;
}

.input-group > label{
    font-size: 2rem;
    text-shadow: 0 .1rem .3rem black;
}

.contact-input{
    height: 5rem;
    width: 60rem;
    padding: 0 2rem;
    border-radius: 1rem;
    border:none;
}

.form-textarea{
    height: 12rem;  
    width: 60rem;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 60rem;
    max-height: 12rem;
    border:none;
}

.submit-btn{
    border:none;
    background-color: var(--light-grey);
    width: 100%;
    height: 4rem;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
}

.submit-btn:hover{
    background-color: var(--dark-grey);
    
}

@keyframes contact-bg{
    0%{
        background-color: #3d3d3d;
    }
    25%{
        background-color: #ced834;
    }
    50%{
        background-color: #1e81f3;
    }
    75%{
        background-color: #ff7842;
    }
    100%{
        background-color: #3d3d3d;
    }
}

.footer{
    background-color: var(--dark-grey);
    color: rgb(230,230,230);
    flex-direction: column;
}

.footer-heading{
    margin: 3rem 0;
    margin-bottom:1rem;
    font-size: 3rem;
    font-weight:300;
}


.fb-logo{
    margin-bottom: 2rem;
}
.fb-logo a i{
    text-decoration: none;
    font-size: 5rem;
    color: white;
    transition: color .5s ease-in-out;
}

.fb-logo a i:hover{
    color: var(--light-grey);
}

.footer-copyright{
    margin-bottom:1rem;
    font-size: 1.2rem;
}

@media (max-width:1200px){
    .collections-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin: 3rem 0;
    }
}

@media (max-width: 1000px){
    .info-text{
        padding: 1rem 12rem;
        font-size:1.8rem;
        padding-bottom:4rem;   
        line-height: 3.2rem; 
    }
}

@media (max-width: 800px){
    .info-heading{
        font-size: 3.5rem;
    }
    .contact-form{
        background-color: rgba(255,255,255,0.8);
        margin: 0 12rem;
        width: 55rem;
        height: 50rem;
        flex-direction: column;
        padding: 0 5rem;
        border-radius: 1rem;
    }
    .input-group{
        margin: 0 3rem;
        position: relative;
        padding: 0 4rem;
        padding-top: 2rem;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .input-group > label{
        font-size: 1.8rem;
        text-shadow: 0 .1rem .3rem black;
    }
    
    .contact-input{
        width: 48rem;
        padding: 0 2rem;
    }
    
    .form-textarea{
        height: 12rem;  
        width: 48rem;
    }

    .submit-btn{
        width: 100%;
    }
}

@media (max-width: 600px){
    .info-heading{
        font-size: 3rem;
    }
    .collections{
        padding: 10rem 12rem;
        background-color: var(--light-grey);
    }
    
    .collections-heading{
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
        padding-bottom: 0rem;
    }
    
 
    /*end of collections  */
    
    .contact-form{
        width: 40rem;
        padding: 0 5rem;
        border-radius: 1rem;
        justify-content: space-around;
    }
    .input-group{
        justify-content: space-between;
    }

    .contact-input{
        width: 35rem;
        padding: 0 2rem;
    }
    
    .form-textarea{
        width: 35rem;
    }

    .submit-btn{
        width: 100%;
    }

    .footer-heading{
        font-size: 2rem;
    }
    .fb-logo{
        font-size: 2rem;
    }
    
}

@media (max-width: 500px){
    /* start of info */
    .info{
        background: white;
        position: relative;
    }
    
    .info-logo-wrap{
        margin-top: 4rem;
        display:inline-block;
        width: 100%;
        text-align: center;
    
    }
    
    .info-logo{
        /* display:inline-block; */
        width:50%;
        border-top: 2px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top:0;
    }
    
    .info-heading{
        padding: 3rem 0;
        display:block;
        text-align: center;
        font-size: 4rem;
    }
    
    .info-text{
        padding: 1rem 5rem;
    }
    
        /* start of collections */
    .collections{
        padding: 10rem 0rem;
        background-color: var(--light-grey);
    }

    .collections-heading{
        display:block;
        margin: auto;
        font-size: 3rem;
        color: white;
        text-align: center;
        letter-spacing: 0.5rem;
        padding-bottom: 3.5rem;
        width: 30rem;
    }

    .collections-wrapper{
        /* flex-direction: column; */
        justify-content: space-evenly;
    }

    .card{
        width: 35rem;
        position: relative;
        perspective: 150rem;
    }

    .front-card{
        background-color: white;
        border-radius: 2rem;
        overflow: hidden;
        position: relative;
        z-index:1;
        box-shadow: .3rem .3rem .7rem white;
        transform: translateZ(0) translateX(0);
        transition: all .5s ease-in-out;
    }
    .change  .front-card{
        z-index:0;
        transform: translateZ(-5rem) translateX(3rem);
        transition: all .5s ease-in-out;
    }

    .price-btn, .back-btn{
        position: absolute;
        top: 2rem;
        left: 2rem;
        height: 3rem;
        width: 6rem;
        text-align:center;
        text-transform: uppercase;
        border:none;
        outline:none;
        cursor: pointer;
        letter-spacing: .2rem;
        font-weight:700;
    }

    .price-btn:hover{
        background-color: var(--orange);
        box-shadow: .5rem .5rem 1rem var(--orange);
    }
    .back-btn:hover{
        background-color: var(--dark-grey);
        box-shadow: .5rem .5rem 1rem var(--dark-grey);
        color: white;
    }

    .price-btn.black:hover{
        background-color: var(--orange);
        box-shadow: .1rem .1rem 1rem var(--orange);    
    }

    .front-image, .back-image{
        height: 40rem;
        width: 35rem;
    }

    .front-image{
        cursor: pointer;
    }
    .front-image.first{
        background: url('Images/cloth-1.jpg') center no-repeat;
        background-size: cover;
    }

    .front-image.second{
        background: url('Images/cloth-2.jpg') center no-repeat;
        background-size: cover;
    }

    .front-image.third{
        background: url('Images/cloth-3.jpg') center no-repeat;
        background-size: cover;
    }

    .card-title{
        color:var(--dark-grey);
        text-align: center;
        font-weight: 900;
        font-size:3.2rem;
        text-shadow: 0rem 0.3rem 1rem var(--dark-grey);
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: .15rem solid var(--dark-grey);
        border-top: .15rem solid var(--dark-grey);
    }

    .size-list{
        flex-direction: column;
        list-style-type: none;
    }

    .size{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        padding: .5rem;
        border-bottom: 1px solid var(--dark-grey);
    }

    .back-card{
        background: var(--orange);
        border-radius: 2rem;
        overflow: hidden;
        position: absolute;
        transform: translateZ(-5rem) translateX(3rem);
        transition: all .5s ease-in-out;
        box-shadow: .3rem .3rem .7rem var(--orange);
        top:0;
        height: 100%;
        z-index:0;
    }

    .change .back-card{
        z-index:1;
        transform: translateZ(0) translateX(0);
        transition: all .5s ease-in-out;
    }


    .back-image.first{
        background: url('Images/back-shirt.png') no-repeat;
        background-size: contain;
    }
    .back-image.second{
        background: url('Images/back-shirt.png') no-repeat;
        background-size: contain;
    }
    .back-image.third{
        background: url('Images/cloth-3-back.jpg') no-repeat;
        background-size: contain;
    }

    .price{
        text-align: center;
        letter-spacing: .18rem;
        color: white;
        text-shadow: .2rem .3rem .3rem black;
        font-size: 3rem;
        position: absolute;
        left:0;
        right:0;
        top: 35.5rem;
    }

    .popup-shirt{
        background-color: var(--dark-grey);
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        width: 100vw;
        transform: scale(0);
    }

    .popup-shirt.active {
        background-color: var(--dark-grey);
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        width: 100vw;
        transform: scale(1);
        z-index: 4;
        
    }

    .exit-preview{
        position: fixed;
        right: 2rem;
        top:2rem;
        height: 3rem;
        width:3rem;
        font-size: 5rem;
        color: white;
        background-color:var(--dark-grey);
        border:none;
        cursor: pointer;
        font-weight:900;
    }

    .shirt-image{
        position: fixed;
        top: 50%;
        left: 50%;
        height: 80vh;
        width: 50vw;
        transform: translate(-50%, -50%) scale(0);
    }

    .shirt-image.active {
        transform: translate(-50%, -50%) scale(1);
        transition: all 1s ease-in-out;
    }

    .shirt-image.first{
        background-image: url('Images/cloth-1.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .shirt-image.second{
        background-image: url('Images/cloth-2.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .shirt-image.third{
        background-image: url('Images/cloth-3.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

}

@media (max-width: 375px){
    .container{
        background-color: var(white);
        margin: 0rem;
        box-shadow: 0 1rem 3rem var(--grey-color);
        overflow: hidden;
        border: 2px solid black;
    }

    .header{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    
    .header-text{
        font-size: 10rem;
        text-transform: uppercase;
        letter-spacing: 3rem;
        font-weight: 900;
        color: white;
        text-align: center;
    }
    
    /* live */
    .live-container{
        /* display:none; */
        transform: translateX(-100vw);
    }
    
    .live-container.change{
        transform: translateX(0%);
        transition: all 0.5s ease 0.5s;
    }
    
    .live-bg{
        background-color: var(--dark-grey);
        width: 100vw;
        height: 200vh;
        border: 2px solid pink;
        /* flex-direction: column; */
    }

    .header-text{
        display: block;
        width:100%;
        padding:0;
        /* margin: 0 auto; */
        font-size:5rem;
        text-align:center;

    }
    /* end of live */
    
    /* life */
    .life-container{
        transform: translateY(-100vh);
    }
    
    .life-container.change{
        transform: translateY(0);
        transition: all 0.5s ease 1.5s;
    }
    
    .life-bg{
        background-color: var(--orange);
        width: 100vh;
        height: 100vh;
    }
    
    /* end of life */
    
    /* of */
    .of-container{
        transform: translateY(100vh);
    }
    
    .of-container.change{
        transform: translateY(0vh);
        transition: all 0.5s ease 2.4s;
    }
    
    .of-bg{
        background-color: var(--light-grey);
        width: 100%;
        height: calc(100vh);
    }
    
    /* end of "of */
    
    /* good folk */
    .goodfolk-container{
        background: white url('Images/goodfolk-orange.jpg') center no-repeat;
        background-size: contain;
        width: calc(100vw);
        height: calc(100vh);
        transform: translateX(100%);
        position:relative;
    }
    
    .goodfolk-container.change{
        transform: translateX(0%);
        transition: all 0.5s ease 3.6s;
    }
    
}